# Python
backend/.venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Environment variables
backend/.env

# Node
frontend/interview-ui/node_modules/

# Build files
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/