fastapi
uvicorn
python-multipart

# AI
openai-whisper
torch
opencv-python
mediapipe==0.10.9
librosa
numpy
textblob

# Database
sqlalchemy
psycopg2-binary

# Environment variables
python-dotenv

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# Validation
email-validator